<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    body { 
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-image: url('/images/bg_image.jpg');
        background-size: 100% auto;
    }

    .formWraper .form_wrap{
        background-color: rgba(200, 200, 200, 0.65);
        width:350px;
        height:auto;
        margin:50px auto 0;
        padding:50px;
        color:#333;
        border:2px solid #C2D6FF;
        border-radius:40px 0 40px 0
    }

    .content-prev {
        background-color: rgba(200, 200, 200, 0.65);
        width:350px;
        height:auto;
        margin:50px 0px 0px 150px;
        padding:50px;
        color:#333;
        border:2px solid #C2D6FF;
        border-radius:40px 0 40px 0;
        float: left;
    }

    .content-after {
        background-color: rgba(200, 200, 200, 0.65);
        width:350px;
        height:auto;
        margin:50px 150px 0px 0px;
        padding:50px;
        color:#333;
        border:2px solid #C2D6FF;
        border-radius:40px 0 40px 0;
        float: right;
    }

    h1, h2 {
        color: white;
        text-shadow: 2px 2px black;
    }

    input[type=number] {
        background-color: black;
        color: white;
        height: 20px;
    }



    </style>
</head>
<body>
    <section class="form_wrap">
        <div class="title">
            <center><h1>Resultados</h1></center> 
        </div>
        <h1> Tamaño del mapa:  [<%=@@terreno.getTamX%> x <%=@@terreno.getTamY%>] </h1>

        <% for i in 0..@@prevResults.length()-1 do%>
        <h1> Vehiculo <%=i+1%> </h1>
            <div class="content-prev">
                <h1> Coordenades iniciales en el vehiculo: <%=i+1%></h1>
                <h2>
                    <% if @@prevResults[i].getX.to_i<=@@terreno.getTamX.to_i and @@prevResults[i].getX.to_i>=0 %>
                        Coordenadas finales en x: <%=@@prevResults[i].getX%>
                    <% else %>
                        Coordenadas en x erroneas
                    <% end %>
                </h2>

                <h2>
                    <% if @@prevResults[i].getY.to_i<=@@terreno.getTamY.to_i and @@prevResults[i].getY.to_i>=0 %>
                        Coordenadas finales en y: <%=@@prevResults[i].getY%>
                    <% else %>
                        Coordenadas en y erroneas
                    <% end %> 
                </h2>

                <h2>
                    Orientacion final: <%=@@prevResults[i].getOrientacion%>
                </h2>

                <h2>
                    Movimientos: <%=@@prevResults[i].getInputMoves%>
                </h2>
            </div>
            <div class="content-after">
                    <h1> Coordenadas finales en el vehiculo: <%=i+1%></h1>

                    <h2>
                        <% if @@autos[i].getX.to_i<=@@terreno.getTamX.to_i and @@autos[i].getX.to_i>=0 %>
                            Coordenadas finales en x: <%=@@autos[i].getX%>
                        <% else %>
                            Coordenadas en x erroneas
                        <% end %>
                    </h2>

                    <h2>
                        <% if @@autos[i].getY.to_i<=@@terreno.getTamY.to_i and @@autos[i].getY.to_i>=0 %>
                            Coordenadas finales en y: <%=@@autos[i].getY%>
                        <% else %>
                            Coordenadas en y erroneas
                        <% end %> 
                    </h2>

                    <h2>
                        Orientacion final: <%=@@autos[i].getOrientacion%>
                    </h2>

                    <h2>
                        Movimientos: <%=@@autos[i].getInputMoves%>
                    </h2>
            </div>
        <%end%>
        <button onclick="location.href='http://localhost:4567/'">Volver al inicio </button>
    </section>
</body>
</html>
